*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main{    
    overflow-y: auto;
    box-shadow: 0px 0px 3px 1px #dedede;    
    position:sticky;
    top:0;
    flex-grow: 1;
}
.container{
    display: grid;         
    width: 100%; 
    /* height: 100vh; */
   /* position: sticky;
   top: 0; */
     
}
.item1{
    border: 1px solid #dedede;
    height: 100%;
    text-align: center;   
    outline: none;     
}   
.highlight{
    background-color: #8c9998;
}   
.header{
    background-color: #fff;
    position: sticky;
    top: 0;
}
.rows{
    background-color: #ffe3c3;
}
.button{
    background-color: #a4cbed;
outline: none;
border: none;
padding: 6px 17px;
margin-top: 8px;
border-radius: 25px;
}
.dialogue{
    display: inline-flex;
    flex-direction: column;      
   border-radius: 5px;
    padding: 5px;
    background-color: #7f7d7d;
}
.overley{
    width: 100vw; 
    background-color: rgb(0,0,0,0.3);
    position: absolute;
    top: 0px;
    display:none;
    align-items: center;
    justify-content: center;
    left: 0;
    z-index: 1;
}
.row{
    background-color: rgb(191, 240, 191);  
    border: 1px solid lightgreen;   
}
.cell{
    border: 2px solid lightgreen !important;
    background-color: aliceblue !important;
}
.dummy{
    height: 0px;
    width: 18px;
    background-color: white;
    position: relative;
    left: -15px;
}
.overall{
    overflow-y: auto;
    width: 100%;   
    display:flex;
}


